#information {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        i {
        	font-size: 25px;
        	color: blue;
        	margin: 5px;
        }

        img {
            margin: 10px auto;
            border-radius: 50%;
        }
    }
}