#information {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        i {
            font-size: 25px;
            color: #03A9F4;
            margin: 5px;
        }

        .linkedin {
            i {
                color: #0077B7
            }

        }

        .twitter,
        .linkedin {
            text-decoration: none;
        }

        img {
            margin: 10px auto;
            border-radius: 50%;
        }
    }
}